<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/css/components.css">
  </head>
  <body>
    <!-- Footer -->
    <footer class="main-footer">
      <div class="container">
        <div class="footer-grid">
          <div class="footer-about">
            <h3>Markide</h3>
            <p>SEO Writer & Web Developer</p>
          </div>
          <div class="footer-contact">
            <h3>Contact</h3>
            <p><a href="https://wa.me/254797607856" target="_blank" class="whatsapp-link">
              <i class="fab fa-whatsapp"></i> App Me
            </a></p>
            <p>
              <a href="mailto:markndwiga@gmail.com" target="_blank"
                ><i class="fas fa-envelope"></i> Email me</a
              >
            </p>
          </div>
          <div class="footer-social">
            <h3>Connect</h3>
            <div class="social-links">
              <p>
                <a
                  href="https://github.com/Markide1"
                  target="_blank"
                  aria-label="GitHub Profile"
                  >GitHub</a
                >
              </p>
              <p>
                <a
                  href="https://www.linkedin.com/in/mark-ndwiga-baa0461b4"
                  target="_blank"
                  aria-label="LinkedIn Profile"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2025 Markide. All rights reserved.</p>
        </div>
      </div>
    </footer>
    
  </body>
</html>
